USE [master]
GO
/****** Object:  Database [HFourm]    Script Date: 11/06/2018 15:06:40 ******/
CREATE DATABASE [HFourm] ON  PRIMARY 
( NAME = N'HFourm', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HFourm.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HFourm_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\HFourm_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HFourm].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HFourm]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 11/06/2018 15:06:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](16) NOT NULL,
	[NickName] [nvarchar](16) NOT NULL,
	[PassWord] [nvarchar](32) NOT NULL,
	[Sex] [bit] NULL,
	[Birthday] [datetime] NULL,
	[Address] [nvarchar](255) NULL,
	[EMail] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[UserInfo] ON
INSERT [dbo].[UserInfo] ([ID], [Name], [NickName], [PassWord], [Sex], [Birthday], [Address], [EMail]) VALUES (1, N'admin', N'admin', N'admin', 1, CAST(0x0000A99000BB6F98 AS DateTime), N'四川成都', N'18381506390@163.com')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
